:root {
    --main-shade1: #efbbff;
    --main-shade2: #d896ff;
    --main-shade3: #be29ec;
    --main-shade4: #800080;
    --main-shade5: #660066;
}

body {
    background-image: linear-gradient(360deg, var(--main-shade1) 0%, var(--main-shade3) 100%);
    text-align: center;
}

form {
    gap: 20px;
}

input[type="text"] {
    border-radius: 8px;
    width: 500px;
    height: 20px;
    border: none;
    padding: 10px;
    font-size: 20px;
    box-shadow: 3px 3px 0 var(--main-shade4);
}

input[type="submit"] {
    border-radius: 10px;
    width: 100px;
    height: 40px;
    border: none;
    font-size: 20px;
    box-shadow: 2px 3px 0 var(--main-shade4);
    background-color: var(--main-shade3);
    color: white;
    cursor: pointer;
    transition: 0.2s;

}

input[type="submit"]:hover {
    background-color: var(--main-shade5);
    transition: 0.2s;
}

.nadpis {
    margin-bottom: 0;
    color: var(--main-shade5);
    padding: 15px;
    font-size: 70px;
    font-family: 'Goldman', serif;
}

.podnadpis {
    padding: 0;
    margin-top: 0;
}

.prekliky {
    display: flex;
    justify-content: flex-end;
    padding: 30px;
}

.odkazy {
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.odkazy a {
    list-style-type: none;
    text-decoration: none;
    color: var(--main-shade5);
    background-color: var(--main-shade1);
    width: 170px;
    border-radius: 10px;
}

.hlavni_cast {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.w3c {
    display: flex;
    gap: 10px;
}

.w3c_jednotlive {
    margin: 0;
    padding: 0;
}

@media (max-height: 800px) {
    .hlavni_cast {
        height: 1289px;
    }

}

@media (max-width: 600px) {
    body {
        background: none;
        background-color: var(--main-shade2);
    }

    .hlavni_cast {
        display: block;
        height: auto;
        margin-top: 200px;
    }

    input[type="text"] {
        width: 300px;
    }

    form {
        margin-top: 50px;

        display: flex;
        flex-direction: column;
        align-items: center
    }

}

@media (min-height: 500px) {
    .hlavni_cast {
        height: 713px;
    }
}